Source: browser-switchboard
Section: user/network
Priority: extra
Maintainer: Steven Luo <steven+maemo@steven676.net>
Build-Depends: debhelper (>= 5), libdbus-glib-1-dev, libgtk2.0-dev, libhildon1-dev, libosso-dev, hildon-control-panel-dev
Standards-Version: 3.7.2

Package: browser-switchboard
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dbus, tablet-browser-ui
Recommends: tear | fennec | midori
Provides: browser-proxy
Conflicts: browser-proxy, fennec-dbus-client
Description: allows any web browser to be used as the default
 Browser Switchboard is a program which allows you to choose
 which browser to use as the default browser.  It supports
 MicroB, Tear, Fennec/Mobile Firefox, and Midori out of the box,
 and can easily be extended to support other browsers.  It can
 also launch MicroB without having a large background process
 (browserd) running at all times, saving memory when MicroB 
 isn't in use.
XB-Maemo-Display-Name: Browser Switchboard
Homepage: http://browser-switch.garage.maemo.org/
